.pxiconstar {
    width: 36px;
    position: relative;
    height: 36px;
    overflow: hidden;
    flex-shrink: 0;
}
.item {
    position: relative;
    line-height: 32px;
    font-weight: 500;
}
.company-logo-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 16px;
    gap: 16px;
    font-size: 23.04px;
    color: #e26d5c;
}
.search-dark {
    width: 247px;
    border-radius: 10px;
    background-color: #2e3238;
    height: 60px;
    display: none;
}
.pxiconhome {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.item1 {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.items-dark {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 16px;
    gap: 16px;
    z-index: 0;
}
.pxiconhome1 {
    width: 24px;
    position: relative;
    height: 24px;
}
.item2 {
    position: relative;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
}
.items-dark1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 16px;
    gap: 16px;
    z-index: 1;
}
.report-2-icon {
    width: 26px;
    position: absolute;
    margin: 0 !important;
    top: 77px;
    left: 15px;
    height: 26px;
    object-fit: cover;
    cursor: pointer;
    z-index: 2;
}
.items-dark2 {
    width: 247px;
    height: 60px;
    display: none;
    z-index: 3;
}
.items-dark3 {
    width: 247px;
    height: 60px;
    display: none;
    z-index: 4;
}
.dropdown-dark {
    width: 247px;
    height: 240px;
    display: none;
    z-index: 5;
}
.item-list {
    width: 247px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 1px;
}
.items-dark4 {
    width: 247px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 16px;
    box-sizing: border-box;
    gap: 16px;
}
.upper-sidebar {
    width: 247px;
    height: 437px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}
.items-dark5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 16px;
    gap: 16px;
}
.items-dark6 {
    width: 247px;
    height: 60px;
    display: none;
}
.lower-item-list {
    width: 247px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.avatar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #ffe1a8;
    width: 48px;
    height: 48px;
}
.jv {
    position: absolute;
    top: 12px;
    left: 13px;
    line-height: 24px;
}
.avatar {
    width: 48px;
    position: relative;
    height: 48px;
}
.julieta-valle {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    white-space: pre-wrap;
}
.lorem-ipsum-dolor {
    position: relative;
    font-size: 11.11px;
    line-height: 16px;
    color: #e26d5c;
}
.profile {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    color: #472d30;
}
.profile-dark {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #1c1e22;
}
.lower-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
    z-index: 1;
}
.arrow-dark-icon {
    width: 36px;
    position: absolute;
    margin: 0 !important;
    top: 42px;
    left: 261px;
    height: 36px;
    z-index: 2;
}
.side-bar {
    width: 279px;
    position: relative;
    border-radius: 10px;
    background-color: #7dbbc3;
    box-shadow: 4px 0px 10px rgba(42, 46, 52, 0.2);
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 16px;
    box-sizing: border-box;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 16px;
    color: #472d30;
    font-family: Poppins;
}

